@charset "UTF-8";

.nws-alerts {
    position:relative;
    z-index:100;
    float:left;
    box-sizing:border-box;
    opacity:1;
}
.nws-alerts:hover {
    z-index:110;
}
.nws-alerts:after {
    content:"";
    display:block;
    clear:both;
}




.nws-alerts-updated {
    -webkit-animation: nws-alerts-fade-in 1000ms;
    -moz-animation: nws-alerts-fade-in 1000ms;
    -ms-animation: nws-alerts-fade-in 1000ms;
    -o-animation: nws-alerts-fade-in 1000ms;
    animation: nws-alerts-fade-in 1000ms;
}






.nws-alerts-heading {
    position:relative;
    z-index:1;
    float:left;
    padding:20px;
    box-sizing:border-box;
    white-space:nowrap;
}
.nws-alerts-heading-graphic {
    position:absolute;
    top:20px;
    left:20px;
    margin-right:20px;
    display:block;
}
.nws-alerts-heading-scope {
    margin:0 0 0 70px;
    display:block;
    font-size: 0.9em;
    color: #888;
    line-height:1;
}
.nws-alerts-heading-location {
    clear:none;
    margin:0 0 0 70px;
    display:block;
    line-height:1
}
.nws-alerts-heading .nws-alerts-event {
    margin:0 0 0 70px;
    display:block;
    white-space:nowrap;
}
.nws-alerts-heading-no-graphic .nws-alerts-heading-scope,
.nws-alerts-heading-no-graphic .nws-alerts-heading-location,
.nws-alerts-heading-no-graphic .nws-alerts-event {
    margin-left:0;
}






.nws-alerts-details {
    position:absolute;
    z-index:0;
    top:50%;
    left:0;
    right:0;
    display:block;
    height:0;
    background-color:#f1f1f1;
    opacity:0;
    overflow:hidden;
    transition:top 400ms, opacity 400ms;
    border-radius:6px;
}
.nws-alerts:hover .nws-alerts-details {
    top:100%;
    height:auto;
    opacity:1;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
    overflow:visible;
}
.nws-alerts-details:after, .nws-alerts-details:before {
	bottom:100%;
	left:50%;
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
}

.nws-alerts-details:after {
	border-color:rgba(241, 241, 241, 0);
	border-bottom-color:#f1f1f1;
	border-width:20px;
	margin-left:-20px;
}
.nws-alerts-details:before {
	border-color:rgba(204, 204, 204, 0);
	border-bottom-color:#cccccc;
	border-width:21px;
	margin-left:-21px;
}





.nws-alerts-entries {
    display:block;
    padding:20px;
    box-sizing:border-box;
    width:100%;
    height:auto;
    max-height:0;
    overflow:auto;
    transition:max-height 300ms;
}
.nws-alerts:hover .nws-alerts-entries {
    max-height:300px;
}
.nws-alerts-entry {
	font-size:0.8em;
	font-weight:100;
}





.nws-alerts-event {
    font-weight:bold;
}

.nws-alerts-graphic-container:before {
    display:block;
    padding-top:100%;
    content:"";
}
.nws-alerts-graphic-container {
    position:relative;
    width:100%;
    margin:0;
    padding:0;
}

.nws-alerts-entry-graphic {
    float:left;
    margin-right:20px;
    display:block;
}

/* Blizzard Warning */
.nws-alerts-blizzard-warning-graphic,
.nws-alerts-blizzard-watch-graphic {
    background-image:url('../images/blizzard-warning.png');
    background-image:url('../images/blizzard-warning.svg'), none;
}

/* Flash Flood Warning */
.nws-alerts-flash-flood-warning-graphic,
.nws-alerts-flash-flood-watch-graphic,
.nws-alerts-flood-warning-graphic,
.nws-alerts-flood-watch-graphic {
    background-image:url('../images/flash-flood-warning.png');
    background-image:url('../images/flash-flood-warning.svg'), none;
}

/* High Wind Warning and Wind Advisory */
.nws-alerts-high-wind-warning-graphic,
.nws-alerts-wind-advisory-graphic {
    background-image:url('../images/high-wind-warning.png');
    background-image:url('../images/high-wind-warning.svg'), none;
}

/* Severe Thunderstorm Warning */
.nws-alerts-severe-thunderstorm-warning-graphic,
.nws-alerts-severe-thunderstorm-watch-graphic {
    background-image:url('../images/severe-thunderstorm-warning.png');
    background-image:url('../images/severe-thunderstorm-warning.svg'), none;
}

/* Tornado Warning */
.nws-alerts-tornado-warning-graphic,
.nws-alerts-tornado-watch-graphic {
    background-image:url('../images/tornado-warning.png');
    background-image:url('../images/tornado-warning.svg'), none;
}

/* Winter Storm Warning */
.nws-alerts-winter-storm-warning-graphic,
.nws-alerts-winter-storm-watch-graphic,
.nws-alerts-winter-weather-advisory-graphic,
.nws-alerts-freeze-warning-graphic {
    background-image:url('../images/winter-storm-warning.png');
    background-image:url('../images/winter-storm-warning.svg'), none;
}

.nws-alerts-heading-graphic,
.nws-alerts-entry-graphic {
    display:block;
    background-repeat:no-repeat;
    background-size:cover;
}

.nws-alerts-size-large {
    width:100px;
    height:100px;
}

.nws-alerts-size-medium {
    width:60px;
    height:60px;
}

.nws-alerts-size-small {
    width:30px;
    height:30px;
}

.nws-alerts-map {
    width:100%;
    height:300px;
}





/* Animations */
@-webkit-keyframes nws-alerts-fade-in { 0% {opacity:0;} 100% {opacity:1;} }
@-moz-keyframes nws-alerts-fade-in { 0% {opacity:0;} 100% {opacity:1;} }
@-ms-keyframes nws-alerts-fade-in { 0% {opacity:0;} 100% {opacity:1;} }
@-o-keyframes nws-alerts-fade-in { 0% {opacity:0;} 100% {opacity:1;} }
@keyframes nws-alerts-fade-in { 0% {opacity:0;} 100% {opacity:1;} }
